
<app-encabezado titulo="Inicia Seccion" icono="power"></app-encabezado>

<ion-content class="ion-padding">
 <form #miformulario="ngForm" (ngSubmit)="onSubmit()" >
   <ion-item>
     <ion-label position="floating">Usuario</ion-label>
     <ion-input requered type="text" name="usr" [(ngModel)]="usuario.username"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input requered type="password" name="psw" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
   <ion-button type="submit" expand="block" [disabled] ="miformulario.invalid">
     Iniciar Seccion
   </ion-button>

 </form>
 <ion-img src="../assets/images/auto.webp"></ion-img>
</ion-content>




<app-footer></app-footer>
