<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TeLlevoAPP
    </ion-title>
    <ion-icon slot="end" name="home" color="primary" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="dark">
    <h1>Iniciar Seccion</h1>
  </ion-text>
  <ion-button color="success" routerLink="../pag2">
    Ir a login 
  </ion-button>


  <ion-text color="primary">
    <h3 *ngIf="usuario===''" >Desconocido</h3>
    <h3 *ngIf="usuario!== ''  " > {{usuario}}</h3>
    
  </ion-text>
  </ion-content>

<app-footer></app-footer>
